name: xray_docker_xhttp_reality

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: GitHub Container Registry Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract first line of commit message
        shell: bash
        run: |
          VERSION=$(cat xhttp_reality/VERSION)
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Get latest Xray-core version (including pre-release)
        run: |
          LATEST_VERSION=$(curl -s https://api.github.com/repos/XTLS/Xray-core/releases | jq -r '.[0].tag_name')
          echo "XRAY_VERSION=$LATEST_VERSION" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./xhttp_reality
          file: ./xhttp_reality/Dockerfile
#          platforms: linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6
          platforms: linux/amd64
          tags: |
            ghcr.io/driftingwind/xray_docker_xhttp_reality:${{env.VERSION}}-xray-${{env.XRAY_VERSION}}
            ghcr.io/driftingwind/xray_docker_xhttp_reality:latest
          push: true
